<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }


</style>

<!-- Toolbar -->
<div class="router-container">

  <!-- <div class="main-content"> -->
    
    <div class="toolbar " role="banner">
      <span>Gas Emmisons Graph</span>
    </div>

    <div class="content" >
        <!-- <h3 class="pl-3"> Gas Emmisons Graph</h3> -->
        
        <div class="view-content-login view-content">
          <div class="row " style="margin-top: 15px;">
              <div class="col-5 ">
                <label>Country<span class="text-danger" >*</span></label>
                <ng-select  [(ngModel)]="payload['countryId']" placeholder = 'Select Country' [clearable]= 'true' [multiple] = 'true' (ngModelChange)="search()">
                  <ng-option  *ngFor="let country of countries" [value]="country.name">{{country.name}}</ng-option> 
                  <!-- <ng-option  *ngFor="let country of countries" [value]="country.name"><a [routerLink]="[]" [queryParams]="{ countryId: country.name }" queryParamsHandling="merge">{{country.name}}</a></ng-option>  -->

                </ng-select>
      
              </div>
      
              <div class="col-2 ">
                <label>From Date<span class="text-danger" >*</span></label>
                <ng-select  [(ngModel)]="payload['fromDate']" placeholder = 'Select' (ngModelChange)="search()">
                  <ng-option  *ngFor="let year of date" [value]="year.name"> {{year.name}}</ng-option>
                  <!-- <ng-option  *ngFor="let year of date" [value]="year.name"> <a [routerLink]="[]" [queryParams]="{ fromDate: year.name }" queryParamsHandling="merge" >{{year.name}}</a></ng-option> -->

                </ng-select>
      
              </div>
      
              <div class="col-2 ">
                <label>To Date<span class="text-danger" >*</span></label>
                <ng-select  [(ngModel)]="payload['toDate']" placeholder = 'Select' (ngModelChange)="search()">
                  <ng-option  *ngFor="let year of date" [value]="year.name">{{year.name}}</ng-option>  
                  <!-- <ng-option  *ngFor="let year of date" [value]="year.name"><a [routerLink]="[]" [queryParams]="{ toDate: year.name }" queryParamsHandling="merge">{{year.name}}</a></ng-option>   -->

                </ng-select>
      
              </div>

              <div class="col-2 ">
                <label>Category<span class="text-danger" >*</span></label>
                <ng-select  [(ngModel)]="payload['category']" placeholder = 'Select' (ngModelChange)="search()">
                  <ng-option  *ngFor="let cat of category" [value]="cat.name">{{cat.name}}</ng-option>  
                  <!-- <ng-option  *ngFor="let cat of category" [value]="cat.name"><a [routerLink]="[]" [queryParams]="{ category: cat.name }" queryParamsHandling="merge">{{cat.name}}</a></ng-option>   -->


                </ng-select>
      
              </div>
<!-- 
              <div class="col-1 d-flex align-items-end justify-content-end" >
                <button class="btn btn-success btn-block" (click) = 'search()'> Search </button>
              </div> -->

              <div class="col-1 d-flex align-items-end justify-content-end" >
                <button class="btn btn-danger btn-block" (click) = 'clearData()'> Clear </button>
              </div>
              
          </div>

          
          <div class="graph-container" *ngIf = 'showgraph' >
            <app-line-graph   [chartData]="chartData"></app-line-graph>
          </div>
            
          <div class="graph-container" *ngIf = 'noData' style="color: #d23b64;">
              Please Select Appropriate parameters.
          </div>
                
          <div class="graph-container" *ngIf = 'loading' style="color: #3bd26d;">
              Loading...
          </div>


        </div>
     
    </div> 


  <!-- </div> -->
  

</div>

<router-outlet></router-outlet>